---
layout: layouts/base.njk
---

<img src="https://media.istockphoto.com/id/1324471626/vector/dog-love-simple-logo.jpg?s=2048x2048&w=is&k=20&c=Fk7jGCVXmxBWAZFau05KkUSroZy9Bwnze54AUsPdMAg=" alt="puppy image" width="50%">

{{ content | safe }}
